<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%thread] - %msg%n</pattern>
    </encoder>
  </appender>
  <appender name="APP_STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.franklin.samples" level="INFO">
    <appender-ref ref="APP_STDOUT"/>
  </logger>
  <root level="INFO">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>